
[Unit]
Description=raspberry pwm fan control
After=network-online.target
Wants=network.target

# notes: 
# replace 'podman' for 'docker' if needed.
# create /var/lib/node_exporter directory for node-exporter or remove '-v /var/lib/node_exporter:/var/lib/node_exporter:z' and '--node-exporter' below.
 
[Service]
Restart=on-failure
RestartSec=10s
ExecStartPre=-/usr/bin/docker rm gpio
ExecStart=/usr/bin/docker run --name=gpio \
                              --device=/dev/gpiochip0 \
                              --device=/dev/gpiomem \
                              --restart unless-stopped \
                              gpio \
                              python /src/fan.py \
                              --min-temp=35 \
                              --max-temp=55 \
                              --sensor

ExecStop=-/usr/bin/docker stop -t 2 gpio
ExecStopPost=/usr/bin/docker rm gpio

[Install]
WantedBy=multi-user.target

